/HW1/PR1_1 Date Only/nbproject/private/
/HW1/PR1_1 Date Only/build/
/HW1/PR1_2 Iterating the Arguments/nbproject/private/
/HW1/PR1_4 Area of a Circle/nbproject/private/
/HW1/PR1_4 Area of a Circle/build/
/HW1/PR1_5 Random Numbers/nbproject/private/
/HW1/PR1_5 Random Numbers/build/
/HW1/PR1_6 Prime Numbers/nbproject/private/
/HW1/PR1_2 Iterating the Arguments/build/
/HW1/PR1_1 Date Only/dist/
/HW1/PR1_6 Prime Numbers/build/
/HW1/PR1_6 Prime Numbers/dist/