/HW1/PR1_1 Date Only/nbproject/private/
/HW1/PR1_1 Date Only/build/
/HW1/PR1_2 Iterating the Arguments/nbproject/private/
/HW1/PR1_4 Area of a Circle/nbproject/private/
/HW1/PR1_4 Area of a Circle/build/
/HW1/PR1_5 Random Numbers/nbproject/private/
/HW1/PR1_5 Random Numbers/build/
/HW1/PR1_6 Prime Numbers/nbproject/private/
/HW1/PR1_2 Iterating the Arguments/build/
/HW1/PR1_1 Date Only/dist/
/HW1/PR1_6 Prime Numbers/build/
/HW1/PR1_6 Prime Numbers/dist/
/HW2/PR2_1/nbproject/private/
/HW2/PR2_1/build/
/HW2/PR2_4/nbproject/private/
/HW2/PR2_4/build/
/HW2/PR2_2/nbproject/private/
/HW2/PR2_3/nbproject/private/
/HW2/PR2_6/nbproject/private/
/HW2/PR2_6/build/
/HW2/PR2_7/nbproject/private/
/HW2/PR2_2/build/
/HW2/PR2_5/nbproject/private/
/HW2/PR2_5/build/
/HW2/PR2_3/build/
/HW2/PR2_7/build/
/HW2/PR2_1/dist/
/HW2/PR2_4/dist/
/HW3/PR3_1/nbproject/private/
/HW3/PR3_1/build/
/HW3/PR3_2 Shape Class/nbproject/private/
/HW3/PR3_3/nbproject/private/
/HW3/PR3_3/build/
/HW3/Exam 1/nbproject/private/
/HW3/Exam 1/build/